body {
  margin: 0 !important;
  padding: 0 !important;
}

html {
	scroll-behavior: smooth;
	font-family: "Inconsolata", monospace;
	font-family: "Poppins", sans-serif;
}
/* body {
	overflow-x: hidden;
} */
#navbar {
	padding: 0;
}
.container-fluid {
	padding: 10px;
}
.text-center {
	padding: 25px;
	font-size: 25px;
}
.desc {
	background-color: #f0e9ca;
	padding-bottom: 25px;
}
.padd {
	background-color: #396559;
}
.container {
	text-align: justify;
}
#gallery{
  padding-bottom: 15px;
	padding-left: 25px;
	padding-right: 25px;
  background-color: #f0e9ca;
}
.card-body:hover {
	background-color: #396559;
	border: 2px solid #396559;
	transition: ease-in-out 0.3s;
	border-radius: 5px;
}
.card-text {
	text-align: justify;
}
.card-text:hover {
	color: #f0e9ca;
	text-align: justify;
}
footer {
	background-color: #8f472b;
}
#alert {
	padding: 24px 70px !important;
}
