html {
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0;
}

body a.animation {
	transition: ease-in 1s;
}

.head {
	font-size: 20px;
	padding: 5px;
	margin-top: 0;
}

.head-txt {
	margin-left: 75px;
	color: #f0e9ca;
}

ul {
	list-style-type: none;
	margin: auto;
	padding: 0;
	overflow: hidden;
}

nav {
	padding: 8px 16px;
	background-color: #010754;
}

li {
	float: right;
	margin-top: 10px;
}

li a {
	display: block;
	color: #f0e9ca;
	text-align: center;
	padding: 8px 16px;
	text-decoration: none;
}

li a:hover {
	background-color: #01836c;
	transition: ease-in-out 0.5s;
}

.jumbotron {
	background-image: url(bg.png);
}

.wlcm {
	padding: 235px;
	margin-top: auto;
	text-align: center;
	font-size: 45px;
	color: #fbedb0;
}

h3 {
	font-size: 20px;
	text-align: center;
	margin-top: 30px;
	color: #396559;
}

.txt-ttl {
	font-size: 12px;
	text-align: justify;
	margin: 5px 25px;
	column-count: 2;
	column-gap: 50px;
	column-rule-style: solid;
	column-rule-color: #396559;
}

.btn-beranda {
	display: block;
	margin: 0 auto;
}

.btn-beranda a {
	display: block;
	color: #f0e9ca;
	text-align: center;
	padding: 5px;
	margin-left: 45%;
	margin-right: 45%;
	margin-top: 25px;
	background-color: #396559;
	text-decoration: none;
	border-radius: 3px;
}

.galleries {
	padding: 24px;
	margin-bottom: 4rem;
}

div.gallery {
	padding: 5px;
	background-color: #b45d39;
	border: 2px solid #396559;
	border-radius: 5px;
	width: 183px;
}

div.gallery:hover {
	background-color: #396559;
	border: 2px solid #396559;
	transition: ease-in-out 0.3s;
	border-radius: 5px;
}

div.gallery img {
	width: 100%;
	height: auto;
	border-radius: 3px;
}

div.desc {
	color: #f0e9ca;
	padding: 15px;
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-between;
}
