@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

* {
    box-sizing: border-box;
}
  
html{
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: Quicksand, "Verdana", Sans-serif;
}
  
a {
    text-decoration: none;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(23, 65, 133, 0.671);
    position: fixed;
    top: 0;
    /* z-index: 10; */
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}
  
.logo {
    padding-top: 5px;
    height: 60px;
}
  
.header-left {
    float: left;
}
  
.header-right {
    float: right;
    margin-right: -25px;
}
  
.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
  
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.wrapper {
    padding: 180px 0 115px 0;
    background-image: url(../img/makassar-statue-57b18f325f9b58b5c2d520ab.jpg);
    background-size: cover;
    background-color: rgba(50, 70, 80, 0.7);
    background-blend-mode: soft-light;
    color: white;
    text-align: center;
  }
  
.wrapper h1 {
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.title h2{
    text-align: center;
    font-size: 24px;
}

.flexbox{
    margin-bottom: 5% ;
}

.flexbox p{
    font-size: 16px;
}

.flex-container {
    margin: 0 15%;
    display: flex;
    text-align: justify;
}

.flex-container > div {
    margin: 0 2%;
    width: 500px;
    /* flex-wrap: wrap; */
}
  
.flex-container2 {
    color: white;
    text-align: center;
    margin: 0 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
  
#tourist-attractions > .flex-container2 > div {
    border-radius: 10px;
    background-color: rgb(23, 65, 133);
    margin: 10px;
    padding: 10px;
    width: 220px;
    height: 400px;
    /* flex-wrap: wrap; */
}

.flex-container2 img{
    border-radius: 10px;
    width: 200px;
}

.flex-container2 h3{
    color: white;
    font-size: 18px;
    transition: all 0.3s;
}

.flex-container2 h3:hover{
    font-size: larger;
}

/* footer {
	padding: 10px;
	color: white;
    background-color: rgb(23, 65, 133);
	text-align: center;
	font-weight: bold;
} */