.bg-card {
    background: rgb(68,68,78);
    background: radial-gradient(circle, rgba(68,68,78,1) 8%, rgba(0,0,0,1) 69%);
}

.card {
    background-image: url(image/bg_repeater.jpg);
    color: white;
}

.font-card {
    font-family: 'Trajan-Regular';
    font-size: small;
}

.bg-image {
    background-image: url(image/greyfade.jpg);
    background-repeat: no-repeat;
}

hr {
    color: white;
}

.bg-image2 {
    background-image: url(image/bg_repeater.jpg);
}

.about-text {
    font-size: 13px;
}

.fa {
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
  }

html {
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
    color: white;
}

nav {
    position: fixed;
    width: 100%;
}

.alert-bg {
    background: rgb(59,59,65);
    background: linear-gradient(90deg, rgba(59,59,65,1) 33%, rgba(3,2,2,1) 84%);
}

